.smallBox {
    margin-left: 20px;
    margin-right: 20px;
    height: 220px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.listBox img {
    position: relative;
    bottom: -100;
    top: -100;
    margin: auto;
    position: absolute;
    bottom: -100%;
    left: -100%;
    right: -100%;
    top: -100%;
    vertical-align: middle;
    max-width: 100%;
}

.listBox h1 {
    font-size: 1rem;
}

.listBox h2 {
    font-size: 1.2rem;
}