.info p {
    margin-top: 10px;
    color: #5f5f5f;
}

.info h2 {
    color: #468eea;
    font-weight: 600;
    margin-bottom: 0px;
}
.info b {
    color: black;
}

.info_bottom {
    margin-top:50px;
    display: flex;
}
.info_bottom_right {
    width: 500px;
}
.info_bottom_left {
    width: 500px;
}

.focus {
    font-size: 100px;
    font-weight: 100;
}

.history h2 {
    font-weight: 700;
    font-size : 2.5rem;
    margin-bottom: 10px;
}

.history p {
    margin-bottom: 0;
}

.history {
    margin-top: 100px;
    padding: 80px 15px;
    background-color: #2d3437;
    text-align: center;
}

.historyInfo {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.prgoramBottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.programBox {
    height: 320px;
    padding-bottom: 50px;
}

.programBox img {
    height: 320px;
    max-width: 320px;
    border-radius: 20px;
    z-index: 1;
}
.programBox h4 {
    position: relative;
    bottom: 320px;
    left: 40px;
    z-index: 2;
    font-size: 25px;
}

.programBox h5 {
    font-size: 25px;
    padding-top: 38px;
    padding-left: 40px;
}
.programBox h6 {
    font-size: 18px;
    padding-left: 40px;
}
.programBoxHidden {
    height: 320px;
    width: 320px;
    position: relative;
    bottom: 436px;
    border-radius: 20px;
    background-color: gray;
    opacity: 0;
}

.programBox:hover .programBoxHidden{
    opacity: 1;
}



.button1 {
    display: block;
    margin: auto;
    border-radius: 8px;
    width: 13em;
    background-color: #0091ff;
    margin-top: 34px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:white;
}


@media (max-width: 1000px) {
    .info_bottom {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .focus {
        display: none;
    }
    .historyInfo {
        flex-direction: column;
    }
    .prgoramBottom {
        justify-content: space-around;
    }
    .info_bottom_right {
        width: 100%;
    }
    .info_bottom_left {
        width: 100%;
    }
}