.info {
    padding-top: 50px;
    padding-bottom: 50px;

}

.info h2 {
    color: #468eea;
}
.info b {
    color: black;
}

.info_bottom {
    display: flex;
    color: #5f5f5f;
}
.info_bottom_right {
    min-width: 500px;
}
.info_bottom_left {
    min-width: 500px;
}

.focus {
    font-size: 100px;
}

.history {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2d3437;
    text-align: center;
}

.historyInfo {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}


.prgoramBottom {
    display: flex;
    justify-content: space-between;
}

.programBox {
    height: 320px;
}


.programBox img {
    height: 320px;
    max-width: 320px;
    border-radius: 20px;
    z-index: 1;
}
.programBox h4 {
    position: relative;
    bottom: 320px;
    left: 40px;
    z-index: 2;
    font-size: 25px;
}

.programBox h5 {
    font-size: 25px;
    padding-top: 38.5px;
    padding-left: 40px;
}

.programBox h6 {
    font-size: 18px;
    padding-left: 40px;

}


.programBoxHidden {
    height: 320px;
    width: 320px;
    position: relative;
    bottom: 431px;
    border-radius: 20px;
    background-color: gray;
    opacity: 0;
}

.programBox:hover .programBoxHidden{
    opacity: 1;
}


.equalize {
    max-width: 1000px;
    margin: auto
}