header {
    font-family: 'Noto Sans KR', sans-serif;
    margin: auto;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    text-align: center;

}

ul li {
    list-style: none;
    font-size: 1rem;
    padding: 16px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #333333;
}
.mobile li:hover {
    color: white;
}

.web {
    display: flex;
    margin: 0;
}

.logo {
    width: 80px;
    height: 25px;
}

.menu {
    width: 27px;
    height: 24px;
}

.equalize {
    max-width: 1000px;
    margin: auto
}