.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 909;
    border-bottom: 2px solid #f4f4f4;
    top: 0;
    height: 54px;
}

header {
    font-family: 'Noto Sans KR', sans-serif;
    margin: auto;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
}

ul {
    text-align: center;
    padding: 0;
}

ul li {
    list-style: none;
    font-size: 1rem;
    padding: 16px;
    margin: auto;

}

a {
    text-decoration: none;
    color: #333333;
}

.mobile li:hover {
    color: blue;
}

.mobile {
    position: fixed;
    background-color: white;
    z-index: 99;
    top: 34px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #f4f4f4;
}

.mobile li {
    font-size: 1rem;
    font-weight: 700;
}

.web {
    display: flex;
    margin: 0;
}

.logo {
    width: 80px;
    height: 25px;
}

.menu {
    width: 27px;
    height: 24px;
}
