.dDay {
    background-color: #2d3437;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

.countBox {
    display: flex;
    justify-content: center;
    color: black;
    justify-items: center;
    vertical-align: middle;
}

.whiteBox {
    width: 81px;
    height: 81px;
    background-color: white;
    border-radius: 20px;
    vertical-align: middle;
    line-height: inherit;
}

.recruitInfoItem {display: flex;}
.recruitInfoItem h1 {min-width: 300px;}
.recruitInfoItem div {min-width: 700px;}

.recruitInfoItem h6 {font-size: 1.5rem;color:#468eea}
