.dDay {
    background-color: #2d3437;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 80px;
}

.button3 {
    display: block;
    margin: auto;
    width: 13em;
    margin-top: 34px;
    border-radius: 8px;
    background-color: #0091ff;
    border: 1px solid #0091ff;
    padding: 15px 70px;
    font-size: 1.2em;
}

.button2 {
    text-align: center;
    display: block;
    width: 13em;
    margin-top: 34px;
    margin-bottom: 50px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #0091ff;
    padding: 15px;
    font-size: 1rem;
    color: #0091ff;
}

.button3 a {
    color: white;
}


.countBox {
    display: flex;
    justify-content: center;
    color: black;
}
.whiteBox {
    width: 81px;
    height: 81px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.whiteBox p{
    font-size: 2rem;
    margin-top: 16px;
}




.dot {
    color: white;
    font-size: 2.5rem;
    margin-top: 30px;
}
.dash {
    color: white;
    font-size: 2rem;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.recruitInfoItem {
    display: flex;
    margin:50px 10px;
    margin-bottom: 10px;
}

.recruitInfoItem h1 {
    font-size: 2rem;
    width: 300px;
    margin: 0
}

.recruitInfoItem div {
    font-size: 1rem;
    max-width: 700px;     
    color: #5f5f5f;
}
.recruitInfoItem p {
    margin: 0;
    margin-bottom: 40px;
}

.recruitInfoItem h6 {
    font-size: 1.5rem;
    color:#468eea;
    margin-top: 0px;
    margin-bottom: 20px;
}

.recruitRule {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.recruitRuleText{
    margin-bottom: 40px;
}

.circle {
    border: 1px solid #5f5f5f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    margin-left: 5px;
    margin-right: 5px;
}
.recruitRule img {
    width: 15px;
    height: 15px;
}

.imgbox {
    height: 110px;
    overflow: hidden;
}

.recruitPartnerInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recruitPartnerInfo a {
    width: 300px;
    margin-bottom: 50px;
}

.recruitPartnerInfo img{
    width: 100%;
}

.recruitPartnerInfo h5 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.recruitPartnerInfo p{
    margin-bottom: 3px;
    color: #5f5f5f;
    font-weight: 300;
}


@media (max-width: 1000px) {
    .recruitRule {
        flex-direction: column;
        margin-top: 30px;
    }
    .circle {
        max-width: 150px;    
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .recruitInfoItem h1 {
        margin-bottom: 60px;
    }

    .recruitInfoItem h6 {
        margin-bottom: 20px;
        margin-top: 40px;

    }
    
    .recruitInfoItem div {
        width: 100%;     
        color: #5f5f5f;
    }

    .recruitInfoItem {
        flex-wrap: wrap;
    }
}